*.iml
.gradle
/local.properties
/.idea
/app/release
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Cores
*_libretro_android.so

# Base configuration
rom.properties
app/src/main/res/raw/rom

# Rom files
*.gba
*.gbc
*.gb
*.nes
*.snes
*.iso
*.nds
rom