*.iml
.gradle
/local.properties
/.idea
/app/release
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Cores
*_libretro_android.so

# Base configuration
config/*
!config/*.properties.sample
app/src/main/assets/*

# Rom files
*.gba
*.gbc
*.gb
*.nes
*.snes
*.iso
*.nds
