# Sample ROM Properties
# Rename to rom.properties

# Name of the ROM file under the system directory
romFile=rom

# A ROM identifier to append to the app id
id=examplerom

# The app name that will be visible
name=Example Rom

# LibRetro core to fetch for this ROM (excluding _libretro_android.so)
# Look here for the cores:
# http://buildbot.libretro.com/nightly/android/latest/
core=mgba

# The color of the foreground icon drawable
foregroundColor=#ffffff
# The color of the icon background
backgroundColor=#000000

# Core variables (key=value separated by commas) (optional)
# You can find variables for your core in the LibRetro docs:
# https://docs.libretro.com/
# 1) Click on the sidebar
# 2) Click on "Core Library: Emulation"
# 3) Click on your system of choice
# 4) Click on your core of choice
# 5) Scroll down to the "Core options" section
variables=

# Screen orientation to use
# The most common settings are:
# 1) unspecified		The default value, usually allowing portrait and landscape
# 2) portrait			Only allow the device in the upright position
# 3) userLandscape		Allow either landscape or reverse landscape
# 4) locked				Use whatever orientation the device was in earlier
orientation=unspecified

# By default, the GamePad will not show for these cases:
# 1) Devices without a touchscreen
# 2) When the current display is external (i.e. casting)
# 3) When a gamepad or joystick is connected
gamePadVisible=true

# GamePad colors
# The color of the icon or label within the button
gamePadIconColor=#ffffffff
# The color of the button
gamePadButtonColor=#aa1e88e5
# The color of the button when pressed down
gamePadPressedColor=#aa1a5276

# GamePad buttons to show
gamePadA=true
gamePadB=true
gamePadX=false
gamePadY=false
gamePadStart=true
gamePadSelect=true
gamePadL1=false
gamePadL2=false
gamePadR1=false
gamePadR2=false
gamePadAnalogLeft=false
gamePadAnalogRight=false
gamePadSaveState=false
gamePadLoadState=false
gamePadFastForward=false
gamePadMute=false