# Sample ROM Properties
# Rename to rom.properties

# Path to your ROM files (relative to root project directory)
# savePath and statePath are used if you wish to include existing
# save files or save states in the game. They are optional.
romPath=rom
savePath=
statePath=

# A ROM identifier to append to the app id
id=examplerom

# The app name that will be visible
name=Example Rom

# LibRetro core to fetch for this ROM (excluding _libretro_android.so)
# Look here for the cores:
# http://buildbot.libretro.com/nightly/android/latest/
core=mgba

# The color of the foreground icon drawable
foregroundColor=#0000AA
# The color of the icon background
backgroundColor=#FFFFFF

# Core variables (key=value separated by commas) (optional)
# You can find variables for your core in the LibRetro docs:
# https://docs.libretro.com/
# 1) Click on the sidebar
# 2) Click on "Core Library: Emulation"
# 3) Click on your system of choice
# 4) Click on your core of choice
# 5) Scroll down to the "Core options" section
variables=desmume_pointer_type=touch

# Screen orientation to use
# The most common settings are:
# 1) unspecified		The default value, usually allowing portrait and landscape
# 2) portrait			Only allow the device in the upright position
# 3) userLandscape		Allow either landscape or reverse landscape
# 4) locked				Use whatever orientation the device was in earlier
orientation=unspecified

# By default, the GamePad will not show for these cases:
# 1) Devices without a touchscreen
# 2) When the current display is external (i.e. casting)
# 3) When a gamepad or joystick is connected
gamePadVisible=true

# GamePad size in dp units
# It is usually safest to keep the height at around double the width,
# but if you do not like overlapping, it can be reduced.
gamePadWidthPortrait=180dp
gamePadHeightPortrait=360dp
gamePadWidthLandscape=180dp
gamePadHeightLandscape=360dp

# How much to pad the controls from the edge of the screen in dp units
# For narrow devices, adding spacing can make the game more comfortable
gamePadSpacingVerticalPortrait=0dp
gamePadSpacingHorizontalPortrait=10dp
gamePadSpacingVerticalLandscape=0dp
gamePadSpacingHorizontalLandscape=20dp

# The position of the GamePad buttons
# AlignBottom and AlignCenter are mutually exclusive
gamePadAlignBottomPortrait=true
gamePadAlignCenterPortrait=false
gamePadAlignBottomLandscape=false
gamePadAlignCenterLandscape=true

# GamePad buttons to show
gamePadA=true
gamePadB=true
gamePadX=false
gamePadY=false
gamePadStart=true
gamePadSelect=true
gamePadL1=true
gamePadL2=false
gamePadR1=true
gamePadR2=false
gamePadAnalogLeft=false
gamePadAnalogRight=false
gamePadSaveState=true
gamePadLoadState=true